---
title:  Title Page
---

.container
  .note
    textarea id="note__textarea" class="note__textarea" data-note="" autofocus="true" spellcheck="true" placeholder="Начните писать"
/ # = partial "layouts/partials/footer"